.containerSubHeader{
    width: 100%;
    height: 57px;
    display: flex;
    align-items: center;
    background-color: black;
}

.containerSubHeader a{
    margin-right: 33px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.left{
    position: relative;
    left: 60px;
}

.right{
    position: absolute;
    right: 40px;
}

@media (max-width: 576px) {

    .containerSubHeader{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: left;
        background-color: black;
        flex-direction: column;
    }

    .containerSubHeader a{
        margin-right: 10px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }

    .containerSubHeader a:last-child{
        margin-right: 0px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 8px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 12px;
    }
    
    .left{
        position: relative;
        left: 0px;
        order: 1;
        text-align: center;
    }
    
    .right{
        position: relative;
        left: 0;
        order: 2;
    }

    
    .hideOnLarge {
        display: none !important;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {
    .containerSubHeader{
        width: 100%;
        height: auto;
        display: flex;
        align-items: left;
        background-color: black;
        flex-direction: column;
    }

    .containerSubHeader a{
        margin-right: 15px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }
    
    .left{
        position: relative;
        left: 10px;
        order: 1;
    }
    
    .right{
        position: relative;
        left: 0;
        order: 2;
    }
}

@media (min-width: 769px) and (max-width: 1150px) {
    .containerSubHeader{
        width: 100%;
        height: auto;
        display: flex;
        align-items: left;
        background-color: black;
        flex-direction: column;
    }

    .containerSubHeader a{
        margin-right: 15px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }
    
    .left{
        position: relative;
        left: 10px;
        order: 1;
    }
    
    .right{
        position: relative;
        left: 0;
        order: 2;
    }

}