.productCard {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    width: 300px;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vw;
}

.productCard h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}


@media (max-width: 599px) {
    .productCard {
        margin-left: 0;
        margin-right: 0;
    }
}