.containerLeft{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7vh;
  }

.containerRight{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.containerLeftImg img{
    width: 720px;
    height: 950px;
    margin: 10px;
}

.containerRight img{
    width: 100%;
    max-width: 100%;
    height: 465px;
    margin: 10px;
}

@media (max-width: 576px) {
    .containerLeft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 7vh;
      }
    
    .containerRight{
        display: flex;
        padding-top: 20px;
    }
    
    .containerLeftImg img{
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    
    .containerRight img{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding-bottom: 20px;
    }
}

@media (min-width: 577px) and (max-width: 900px) {
    
    .containerLeftImg img{
        width: 330px;
        height: 460px;
        margin: 10px;
    }
    
    .containerRight img{
        width: 340px;
        height: 220px;
        margin: 10px;
    }    
}

@media (min-width: 901px) and (max-width: 1024px) {
    .containerLeftImg img{
        width: 450px;
        height: 580px;
        margin: 10px;
    }
    
    .containerRight img{
        width: 400px;
        height: 280px;
        margin: 10px;
    }    
}
@media (min-width: 1025px) and (max-width: 1150px) {
    .containerLeftImg img{
        width: 450px;
        height: 620px;
        margin: 10px;
    }
    
    .containerRight img{
        width: 480px;
        height: 300px;
        margin: 10px;
    }  
}

@media (min-width: 1149px) and (max-width: 1249px) {
    .containerLeftImg img{
        width: 500px;
        height: 700px;
        margin: 10px;
    }
    
    .containerRight img{
        width: 580px;
        height: 340px;
        margin: 10px;
    }    
}

@media (min-width: 1250px) and (max-width: 1550px) {
    .containerLeftImg img{
        width: 600px;
        height: 800px;
        margin: 10px;
    }
    
    .containerRight img{
        width: 680px;
        height: 390px;
        margin: 10px;
    }    
}