.carouselContainer {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carouselImage {
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

@media (max-width: 768px) {
    .carouselImage {
        max-height: 300px;
        width: 100%;
        object-fit: contain;
        height: 250px;
    }
}

@media (max-width: 480px) {
    .carouselImage {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    .primeiraImagem {
        object-position: 17.5% !important;
    }

    .terceiraImagem {
        object-position: 56% !important;
    }
}
